# Define locale-specific (MGI vs. DC2) environment variables here

# the batch of cases under consideration for download, aka the project name
BATCH="CPTAC3.b1"

export IMPORTGDC_HOME="./importGDC"  # importGDC is a submodule

# Data download location
# NOTE: this has to be compatible with SomaticWrapper analysis, and should use DATAD_H from there
# However, might want to change name, since other analysis will use this data too
export DATAD="/gscmnt/gc2521/dinglab/mwyczalk/somatic-wrapper-data/"
#export DATA_DIR="/diskmnt/Projects/cptac"
export GDCTOKEN="token/gdc-user-token.2017-12-15T20_42_09.411Z.txt"  # this might be an environment variable 

# This is where download-related metadata lives (config files, logs, etc)
export CONFIG_HOME="$DATAD/GDC_import/import.config/$BATCH"
mkdir -p $CONFIG_HOME

# Moving SR file here is part of installation
export SR="$CONFIG_HOME/SR.CPTAC3.b1.dat"

# Define this if in MGI environment
MGI=1
