# Define locale-specific (MGI vs. DC2) environment variables here

export IMPORTGDC_HOME="/home/mwyczalk_test/src/importGDC"

# Data download location
export DATA_DIR="/diskmnt/Projects/cptac"
export GDCTOKEN="token/gdc-user-token.2017-11-14T15_55_43.552Z.txt"
export SR="config/SR.CPTAC3.b1.dat"

# Define this if in MGI environment
# MGI=1
